---
services:
  meshobserv:
    build:
      context: ./meshobserv
      dockerfile: Dockerfile
    image: meshobserv:latest
    restart: unless-stopped
    volumes:
      - ./website:/data/website
    environment:
      - MQTT_BROKER=mqtt.meshtastic.org:1883
    command: ["/meshobserv", "-f", "/data/website/nodes.json"]

  web:
    image: nginx:stable-alpine
    restart: unless-stopped
    depends_on:
      - meshobserv
    environment:
      - NGINX_SERVER_NAME=meshmap.net
    command: >
      /bin/sh -c 'NGINX_SERVER_NAME=$${NGINX_SERVER_NAME:-meshmap.net};
      export NGINX_SERVER_NAME;
      envsubst "$$NGINX_SERVER_NAME" < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf;
      exec nginx -g "daemon off;"'
    ports:
      - "80:80"
    volumes:
      - ./website:/data/website:ro
      - ./configs/nginx-http.conf.template:/etc/nginx/conf.d/default.conf.template:ro
