---
services:
  meshobserv:
    build:
      context: ./meshobserv
      dockerfile: Dockerfile
    image: meshobserv:latest
    restart: unless-stopped
    volumes:
      - meshobserv_data:/data
    environment:
      - MQTT_BROKER=mthub.monteops.com:1883
      - MQTT_USERNAME=meshdev
      - MQTT_PASSWORD=large4cats
      - DB_PATH=/data/db/meshobserv.duckdb
      - RETENTION_DAYS=360
    depends_on:
      - mqtt
    command: ["/meshobserv"]
  coverage:
    build:
      context: ./coverage
      dockerfile: Dockerfile
    image: coverage:latest
    restart: unless-stopped
    volumes:
      - coverage_cache:/cache
    environment:
      - NODES_URL=http://meshobserv/nodes.json
      - COVERAGE_HTTP_ADDR=:80
      - CACHE_DB_PATH=/cache/elevation_cache.duckdb
    depends_on:
      - meshobserv
  mqtt:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - ./configs/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
  web:
    image: caddy:2-alpine
    restart: unless-stopped
    depends_on:
      - meshobserv
      - coverage
      - mqtt
    ports:
      - "80:80"
    volumes:
      - ./website:/data/website:ro
      - ./configs/Caddyfile:/etc/caddy/Caddyfile:ro
    command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile", "--adapter", "caddyfile"]
volumes:
  coverage_cache:
  mosquitto_data:
  meshobserv_data:
