---
services:
  meshobserv:
    build:
      context: ./meshobserv
      dockerfile: Dockerfile
    image: meshobserv:latest
    restart: unless-stopped
    environment:
      - MQTT_BROKER=mthub.monteops.com:1883
      - MQTT_USERNAME=meshdev
      - MQTT_PASSWORD=large4cats
    command: ["/meshobserv"]

  web:
    image: nginx:stable-alpine
    restart: unless-stopped
    depends_on:
      - meshobserv
    environment:
      - NGINX_SERVER_NAME=mthub.monteops.com
    command: >
      /bin/sh -c 'NGINX_SERVER_NAME=$${NGINX_SERVER_NAME:-mthub.monteops.com};
      export NGINX_SERVER_NAME;
      envsubst "$$NGINX_SERVER_NAME" < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf;
      exec nginx -g "daemon off;"'
    ports:
      - "80:80"
    volumes:
      - ./website:/data/website:ro
      - ./configs/nginx-http.conf.template:/etc/nginx/conf.d/default.conf.template:ro
